@media screen and (max-width:576px){
    .menu{
        display: none
    }
    .hamb {
        display: block;
        display: flex;
        align-items: center;
        
    }
    .content-mats{
        flex-direction: column;
    }
    .right-one{
        width: 80%;   
}


.contents{
    margin-left: 0;
}

.flex{
    display: flex;
}
.left-one{
    
    margin-right: 0;
   
   
   }
   #btn-two{

            width: 150px;
           margin-left: 200px;
    margin-top: -500px;
}
#btn-one{
    width: 155px;
    margin-left: -00px;
margin-top: -350px;
}

.dot{
    width: 40%;

    
}
.run-container{
    flex-direction: column;
    width: 80%;
    height: 80%;
}
.right-run{
    height: 80%;
    width: 80%;
}
.left-run{
    width: 80%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 35px;
}
.left-run img{
    width: 100%;
    
    
}
.habbit-grid{
    margin: 0 100px;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 50px;
}
.bmi-cont{
    flex-direction: column;
    width: 100%;
    height: 100%;
    

}

.bmi-right{
    width: 100%;
    height: 100%;
    
    
    margin-top: 52px;
  }
  .bmi-left{
   width: 100%;
   
   

  }
    .bmi-left h1{
        margin-left: 20px;
        margin-right: 18px
    }
   .bmi-left p{
    margin-left: 20px;
    margin-right: 18px;
   }

  input{
     width: 150px;
     margin-left: 20px;
     
  }
  select{
    width: 150px;
    margin-left: 20px;
    
  }
  .big-sele{
    width: 300px;
    margin-left: 20px;
  }
  .cal-btn{
    margin-left: 8px;
    margin-left: 20px;
  }
  .bmi-stuffs{
    width: 353px;
  }
  .bmi-stuffs h1{
    width: 200px;
   
    
   
  }
  .bmi-stuffs p{
    width: 200px;
  } 
} 