@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: black;
}

/* nav bar start */
.nav-cont{
    color: rgb(230, 83, 60);
font-family: inter;
font-size: 2.25rem;
font-style: italic;
font-weight: 800;

}
.nav-container{
    display: flex;
    justify-content: space-between;
     margin: 50px auto 0;
  
    width: 80%;
}
.nav-container ul{
    display: flex;
   margin: 0 auto;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px;
}

.deco{
    border-radius: 46px;

background: rgb(230, 83, 60);
padding:  8px 20px 8px 20px;;
}
nav ul li a{
    text-decoration: none;
    font-family: inter;
    color: rgb(255, 255, 255);
    
}

nav ul li{
    list-style: none;
}
.hamb{
    
    color: aliceblue;

    display: none;
}
/* nav bar end */


/* hero section start */
.content-mats{
    display: flex;
    justify-content: space-between;
    margin: 97px 0 auto;

    
  
    align-items: center;
    

    
}
.contents{
    margin-left: 197px;
}

.right-one{
 
    width: 50%;

    
}
.bold{
    color: aliceblue;
    font-family: inter;
    font-weight: 900;
    font-size: 4.87rem;
    
}

.bold-pera{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    

}

.left-one{
    
 margin-right: 214px;


}
.left-one img{
    position: relative;
    
}
.join-btn{
   margin-top: 10px;
   border-radius: 42px;

background: rgb(230, 83, 60);

padding: 16px 40px;
color: aliceblue;
border: none;
}

.down-btn{
    
 border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
padding: 16px 40px;

background-color: transparent;
color: white;
margin-left: 8px;


}

.dot{
    width: 40px;
height: 40px;
background-color: rgb(230, 83, 60);
border-radius: 50%;


    
    
}

.mats{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    
}


.num{
    color: rgb(250, 250, 249);
font-family: Inter;
font-size: 24px;
font-weight: 900;



}
.num-lekha{
    color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 16px;
font-weight: 400;





}
#btn-one{
    width: 206px;
  margin-top: -150px;
  margin-left: -100px;
  
  position: absolute;
  height: 96px;

  border-radius: 12px;
  
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  
  
  
  
  
  
 
}
#btn-two{
    width: 206px;
           margin-left: 250px;
    margin-top: -450px;

    position: absolute;

    height: 96px;

    border-radius: 12px;
    
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
  
    
}

.sec-pera{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 40px;
font-weight: 900;
margin-left: 20px;
margin-top: 20px;
}

.mul-pera{
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 13px;
font-weight: 400;
}

/* hero section end */


/* change section */
.chng-hab-cont h1{
    
    text-align: center;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
margin-top: 20px;
margin-bottom: 10px;
}
.chng-hab-cont p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
text-align: center;
margin-bottom: 20px;
}

.habbit-grid{
   
    
    width: 80%;
    margin: 0 auto;
    
    margin-top: 40px;
    margin-bottom: 100px;
    
    
}

.flex-habbi{
    display: flex;
    gap: 20px;
    justify-content: center;
   
    
}
.habbit-grid img{
    border-radius: 50%;
}

.habbit-grid h1{
   color: aliceblue;
   text-align: center;
}
.habbit-grid p{
 color: aliceblue;
 text-align: center
}


/* change section */

/* run section start */

.run-container{
    width: 1060px;
    height: 371px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    
}
.right-run{


    height: 290px;
    width: 50%;
    margin-left: 54px;
}

.left-run{
     height: 312px;
     
     width: 50%;
     margin-right: 32px;
}

.run-head{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    
}
.run-pera{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
.run-btn{
   margin-top: 34px;
   color: white;
font-family: Inter;
font-size: 14px;
font-weight: 400;
background-color: rgb(230, 83, 60);
padding: 16px 40px;
border-radius: 42px;
border: none;
}

.left-run img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    
}
/* run section end */

/* bmi section */

.bmi-stuffs{
 width: 100%;
 
}

.bmi-stuffs h1{
 color: rgb(255, 255, 255);
 width: 500px;
 
 margin: 0 auto;
 margin-top: 150px;
 margin-bottom: 14px;

}
.bmi-stuffs p{
   color: rgba(255, 255, 255, 0.5);
   width: 500px;
 
 margin: 0 auto;
 margin-bottom: 68px;
}
.bmi-cont{
    width: 100%;
    height: 487px;
    background-color: rgb(34, 34, 34);
    display: flex;
    
}
.bmi-right{
  width: 50%;
  height: 80%;
  margin-top: 52px;
}
.bmi-right h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
text-align: center;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 52px;
}
table td{
    color: rgba(255, 255, 255, 0.5);
    border:1px solid rgba(255, 255, 255, 0.5);
    padding:1rem;
}
table thead td{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 500;
}

.bmi-left{
    width: 50%;
    height: 80%;
    
    margin-top: 52px;
}

.bmi-left h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
}
.bmi-left p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin-top: 12px;
}

.grid-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
input{
    border-radius: 8px;
background-color: rgba(255, 255, 255, 0.1);
width: 282.5px;
height: 48px;
border: none;
margin-top: 20px;

}

select {
    border-radius: 8px;
background-color: rgba(255, 255, 255, 0.1);
width: 282.5px;
height: 48px;
margin-top: 20px;
color:rgba(255, 255, 255, 0.6);
border: none;
}
.big-sele{
    width: 577px;
height: 48px;
}
.cal-btn{
    border-radius: 42px;

background: rgb(230, 83, 60);
color: aliceblue;
padding: 16px 40px;
margin-top: 30px;
border: none;
}


/* bmi section */


/* meet our team */

.meet-team-lekhs > h1{
    margin-top: 160px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
text-align: center;
}
.meet-team-lekhs > p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}


.meet-team-cont{
    width: 50%;
height: 50%;


margin: 0 auto;
margin-top: 58px;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 18px;


}


.grid-meet{
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
    
}

.meet-peras img{
    width: 100%;
    height: 100%;
border-radius: 18px;

}

.meet-peras h3{
 color: aliceblue;
 position: absolute;
 margin-top: -50px;
 margin-left: 50px;
}
.meet-peras p{
color: rgb(219, 218, 218);
position: absolute;
margin-top: -30px;
margin-left: 50px;


}
/* meet our team */

/* footer section */
.footer-cont{
    width: 100%;
    height: 100%;

    margin-top: 88px;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px; 
}
.footer-left{
    width: 50%;

 height: 176px;

}
.footer-left h1{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 70px;
margin-left: 190px;
}
.footer-left p{
    margin-left: 190px;
      color: rgba(255, 255, 255, 0.5);
}
.footer-right{
    width: 50%;
   
    height: 249px;

}

.footer-linkes{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.getstarted h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 32px;
font-weight: 700;
}
.getstarted ul li{
 list-style: none;
}
.getstarted ul li a{
 text-decoration: none;
 color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 23px;
}

hr{
    margin-top: 70px;
    margin-left: 500px; 
    width: 50%;
    text-align: center
}

.last-pera{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
text-align: center;
margin-top: 50px;
}
/* footer section */
